<div class="gv-container">
  <div class="row">
    <div class="col-xs-6" ng-include="templates.operationsDropdown"></div>
    <div class="col-xs-offset-3 col-xs-3 text-right" ng-include="templates.pageSizeDropdown"></div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-left" ng-include="templates.summary"></div>
    <div class="col-xs-6 text-right" ng-include="templates.pagination"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-include="templates.table"></div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-left" ng-include="templates.summary"></div>
    <div class="col-xs-6 text-right" ng-include="templates.pagination"></div>
  </div>
</div>
